*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #100e17;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navigation bar */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #202026;
    padding: 20px 0;
}
.navbar ul{
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style-type: none;
}

.navbar ul li{
    padding: 10px 20px;
    font-size: 20px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #20c997;
}

/* Home Section */
.home-profile {
    width: 300px;
    height: 290px;
    border-radius: 50%;
    border: 10px solid #697184;
    padding: 15px;
}

.home-main {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-main img {
    margin-top: 10px;
}

.hello-btn{
    width: 30%;
    font-size: 20px;
    border: none;
    background-color: #20c997;
    color: white;
    padding: 15px;
    border-radius: 15px 15px 15px 0;
}

.home-info {
    display: flex;
    flex-direction: column;
}
.home-info .name{
    font-size: 60px;
}
.home-info .designation{
    font-size: 25px;
    padding: 10px 0;
    padding-left: 10px;
}
.home-info .address, .email, .number{
    font-size: 15px;
    padding: 5px 0;
    padding-left: 10px;
}

/* About Section */
.about-section {
    padding: 200px 0;
    padding-left: 10px;
}
.about-section, .about-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-img{
    width: 30%;
    height: 15%;
}
.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-me-title{
    font-size: 30px;
    font-weight: bold;
}
.about-info-txt{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    padding: 10px 100px;
}

/* Skills */
#skills{
    padding: 100px 0;
}
#skills p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.skills-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.skills-html{
    width: 100%;
    padding: 40px 300px;
}
.skills-html span{
    font-size: 20px;
}
.skills-bar{
    margin-top: 10px;
    border-radius: 5px;
    background-color: grey;
    height: 10px;
}
.skills-progress-bar{
    background-color: #20c997;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 10px;
}

/* Experience */
.ex-ed-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 200px 0;
}
.education-1, .experience-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202026;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: -1rem 0 3rem #000;
}
.ed-info h4, .ex-info h4{
    font-size: 16px;
}
.ed-info p, .ex-info p{
    margin: 10px 0;
    color: #20c997;
}
.ed-info h4 span, .ex-info h4 span{
    color: #20c997;
    font-style: italic;
}
.ed-title{
    text-align: start;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* Footer */
.footer{
    background-color: #202026;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer span{
    font-size: 18px;
    margin-bottom: 10px;
}
.footer div a{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    color: white;
}


/* Responsive Media Query */
@media only screen and (max-width: 600px) {
    .home-profile {
        width: 150px;
        height: 150px;
    }

    .home-main {
        flex-direction: column-reverse;
        padding: 100px;
    }

    #about {
        padding-top: 50px;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }
}